body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


*{
margin: 0%;
padding: 0%;
}


.logo{
position: relative;
bottom: 1rem;
width: 120px;
height: 95px;
margin-left: 7rem;
margin-top: 1rem;
}

nav{ 
  display: flex;
  justify-content:space-between;
  width: 1300px;
  height: 100%;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0%;
  width: 100%;
}


.span_nav{
display: none;
cursor: pointer;
border-radius: 50%;
padding: 2px 10px;
height: 2.5rem;
margin-top: 1.3rem;
margin-right: 1rem;
}
.span_nav span{
background-color: black;
width: 2rem;
height: 3px;
margin: 8px auto;
display: block;
-webkit-transition: all 0.3s ease 0s;
transition:  all 0.1s ease 0s;
}


.list{ 
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  gap: 32px;
  color: #6C7175;
  margin: auto;
}

.list li{
padding: 35px 8px;
}
.home{ text-decoration: none;
         color: inherit;}

.about{ text-decoration: none;
color: inherit;}


.services{text-decoration: none;
color: inherit;}


.come{ text-decoration: none;
color: inherit;}
.Jot{ text-decoration: none;
color: inherit;}
.btn{ 
  width: 140px;
  height:40px ;
  background: #ED0D63;
  border: 1px solid  #ED0D63;
 border-radius: 10px;
  color: white;
 padding: 8px 24px;
 margin-top: 2rem;
 margin-right: 2rem;
}
.btn11{ text-decoration: none;
  color: white;
}
.btn:hover{background-color: #bb0c4f;}
#paul{
    height: 800px;
}

.words{
    background: #F174AC;
    width: 1250px;
    height: 650px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 2rem;
    
    
}

.gray{
color: white;
margin-left: 70px;
float: left;
margin-top: 5rem;
 
}
li{  
    padding-top: 10px;
    font-size: large;
    margin-left: 20px;
    
}
ul{  padding-top: 20px;}
.first{  

    font-size: xx-large;

}

.picture{
  float: left ;
  margin-left: 6rem;
  margin-top: 5rem;
}
.btn9{
    margin-left: 1rem;
    width: 140px;
    height:40px ;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgb(24, 23, 23);
    padding: 10px 24px;
    margin-top: 2rem;
    
   
    }

.ink{ text-decoration: none;
color: inherit;}

.jon{
  width: 1250px;
  height: 750px;
  margin-left: 4rem;



}

.bubble{   
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 5rem;
  
}




.car{
  
  width: 85px;
  gap: 32px;
  background: #EEF1F7;
  margin-bottom: 30px;
  padding: 4px 8px;
  padding-left: 12px;
  border-radius: 32px;
  
  

}



.sup{
   margin-bottom: 30px;
  font-size: xx-large;}


.send{   
  margin-bottom: 30px;
  font-size: x-large;
  color: #6C7175;
  

}
.boxes{
  margin-left: 28rem;
  
}
.bin{
  
  padding-bottom: 30px;
  
  font-size: medium;
  
}
.mibin{ 
  width: 350px;

  padding: 13px 16px;
  border-radius: 8px;
  border: 1px solid #6C7175;
   font-size: medium;}

label{  font-size: large;
      }

.phone{   
  background: #ED0D63;
   padding: 8px 24px;
   width: 210px;
   height: 50px;
   border: 1px solid#ED0D63;
   border-radius: 12px;
   color: white;
   margin-left: 5rem;
   margin-top: 20px;
   font-size: medium ;
}
.phone:hover{
 background-color: #bb0c4f;
}

#tega{ 
  display: flex;
  justify-content: space-between;
  background: rgb(248, 248, 248);
  height: 300px;}


.bigD{ margin-left: 50px;
  margin-top: 20px;
  float: left;
       }
.box{
  padding-bottom: 50px;
  font-size: larger;
}
.box1{ padding-bottom: 50px;
  font-size: larger;}
.box2{padding-bottom: 40px;
  font-size: larger;}


.social{ padding-top: 20px; }
.linkd{ margin-left: 15px;}
.minbox{ padding-right: 15px;}

.minbox2{  padding-right: 15px; }



.nav_p{
  display: flex;
  gap: 3px;
  padding-bottom: 2rem;
}

.nav_p2{
  display: flex;
  gap: 13px;
  padding-bottom: 2rem;
}

.list2{list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 15px;
  padding-right: 5%;
  color: #6C7175;
   font-size: medium;}

   @media screen and (max-width: 420px){


    *{
      margin: 0%;
      padding: 0%;
    
    }
    
    
    .logo{
      position: relative;
      bottom: 1rem;
      width: 100px;
      height: 95px;
      margin-left: 1rem;
      margin-top: 3%;
    }
    
    nav{ 
        display: flex;
        justify-content:space-between;
        width: 1300px;
        height: 90px;
        position: sticky;
        background-color: white;
        z-index: 100;
        top: 0%;
        width: 100%;
    }
    
    
    .span_nav{
      display: block;
    }
    
    .span_nav.active{
      background-color: #ED0D63;
    }
    
    .list{ 
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: -400%;
        width: 100%;
        gap: 32px;
        color: #6C7175;
        margin: auto;
        transition: all 0.3s ease 0s;
    }
    
    .list.active{
      top: 5.5rem;
    }
    
    .list li{
      padding: 10px 0px;
      text-align: center;
    }
    .home{ text-decoration: none;
               color: inherit;}
    
    .about{ text-decoration: none;
      color: inherit;}
    
    
    .services{text-decoration: none;
      color: inherit;}
    
    
    .come{ text-decoration: none;
      color: inherit;}
    .Jot{ text-decoration: none;
      color: inherit;}
    .btn{ 
        width: 180px;
        height:40px ;
        background: #ED0D63;
        border: 1px solid  #ED0D63;
       border-radius: 10px;
        color: white;
       padding: 8px 24px;
       margin-top: 2rem;
       position: absolute;
       transition: all 0.3s ease 0s;
       top: -100%;
       left: 6rem;
       margin-right: 2rem;
    }
    
    .btn.active{
      top: 25rem;
    }

    #paul{
      height: 1200px;
      width: 98%;

  }
  
  .words{
      background: #F174AC;
      width: 94%;
      height: 1100px;
      border-radius: 20px;
      margin-left: 0.5rem;
      margin-top: 2rem;
    
      
  }
  
  .gray{
  color: white;
  margin-left: 2rem;
  float: left;
  margin-top: 5rem;

  }
  li{  
      padding-top: 10px;
      font-size: large;
      margin-left: 20px;
      
  }
  ul{  padding-top: 20px;}
  .first{  
  
      font-size: xx-large;
  
  }
  
  .picture{
    float: left ;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 100%; 
    

  }

  .pic{ 
       border-radius:20px;
       width:80%;
       height: 200px;
       margin-left: 15px;
       margin-top: 1rem;

   }
  .btn9{
      margin-left: 1rem;
      width: 140px;
      height:40px ;
      background: white;
      border: 1px solid white;
      border-radius: 10px;
      color: rgb(24, 23, 23);
      padding: 10px 24px;
      margin-top: 2rem;
      
     
      }
  
  .ink{ text-decoration: none; 
  color: inherit;}


  .jon{
    width: 99%;
    height: 100%;
    margin-left: 0rem;
    margin-bottom: 5rem;
    }


 .bubble{  
    margin-top: 5rem;
  
  
 }


.car{
    
    width: 85px;
    gap: 32px;
    background: #EEF1F7;
    margin-bottom: 30px;
    padding: 4px 8px;
    padding-left: 12px;
    border-radius: 32px;
    
  
    

}



.sup{
     margin-bottom: 30px;
    
    font-size: xx-large;}


.send{   
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    color: #6C7175;
    width: 90%;
    height: 40%;
    margin-right: 0rem;
    
    

    

}
.boxes{
  width: 90%;
    margin-left: 1rem;
    height: 70%;
    
}
.bin{
    
    padding-bottom: 30px;
    width: 96%;
    height: 10%;
    font-size: medium;
    
    
}
.mibin{ 
    width: 85%;
    height: 70%;
    padding: 13px 16px;
    border-radius: 8px;
     font-size: medium;
     
    }

label{  font-size: large;

        }

.phone{   
    background: #ED0D63;
     padding: 8px 24px;
     width:70% ;
     height: 50px;
     border: 1px solid#ED0D63;
     border-radius: 12px;
     color:white;
     margin-left: 4rem;
     margin-top: 20px;
     font-size: medium ;
     
    
}
.phone:hover{
   background-color: #bb0c4f;
}




#tega{ 
  display: flex;
  flex-direction: column;
  background: rgb(248, 248, 248);
  margin-top: 2rem;
  height: 600px;
  
  
}

.bigD{ margin-left: 20px;
  margin-top: 20px;
  float: left;
  width: 89%;
  
  
}
.box{
  padding-bottom: 54px;
  font-size: larger;
  

}
.box1{ padding-bottom: 50px;
  font-size: larger;}
.box2{padding-bottom: 40px;
  font-size: larger;}


.social{ padding-top: 20px; }
.linkd{ margin-left: 15px;}
.minbox{ padding-right: 1px;}

.minbox2{  padding-right: 1%;}



.nav_p{
  display: flex;
  gap: 3px;
  padding-bottom: 2rem;
  width: 100%;  
}

.nav_p2{
  display: flex;
  gap: 13px;
  padding-bottom: 2rem;
  width: 90%;
}

.list001{
  width: 85%;
  float: left;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 4rem;


  }
  
  .list2{
    gap: 50px;
    color: #6C7175;
  display: inline; 
  list-style-type: none;
  display: flex;
  flex-direction: column;

  }

}
@media screen and (min-width: 420px) and (max-width: 600px) {
  
  *{
    margin: 0%;
    padding: 0%;
    
  }
  
  
  .logo{
    position: relative;
    bottom: 1rem;
    width: 100px;
    height: 95px;
    margin-left: 1rem;
    margin-top: 3%;
  }
  
  nav{ 
      display: flex;
      justify-content:space-between;
      width: 1300px;
      height: 90px;
      position: sticky;
      background-color: white;
      z-index: 100;
      top: 0%;
      width: 100%;
  }
  
  
  .span_nav{
    display: block;
  }
  
  .span_nav.active{
    background-color: #ED0D63;
  }
  
  .list{ 
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: -400%;
      width: 100%;
      gap: 32px;
      color: #6C7175;
      margin: auto;
      transition: all 0.3s ease 0s;
  }
  
  .list.active{
    top: 5.5rem;
  }
  
  .list li{
    padding: 10px 0px;
    text-align: center;
  }
  .home{ text-decoration: none;
             color: inherit;}
  
  .about{ text-decoration: none;
    color: inherit;}
  
  
  .services{text-decoration: none;
    color: inherit;}
  
  
  .come{ text-decoration: none;
    color: inherit;}
  .Jot{ text-decoration: none;
    color: inherit;}
  .btn{ 
      width: 180px;
      height:40px ;
      background: #ED0D63;
      border: 1px solid  #ED0D63;
     border-radius: 10px;
      color: white;
     padding: 8px 24px;
     margin-top: 2rem;
     position: absolute;
     transition: all 0.3s ease 0s;
     top: -100%;
     left: 6rem;
     margin-right: 2rem;
  }
  
  .btn.active{
    top: 25rem;
  }

  #paul{
    height: 1200px;
    

}

.words{
    background: #F174AC;
    width: 94%;
    height: 1050px;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-top: 2rem;
    
  
    
    
}

.gray{
color: white;
margin-left: 2rem;
float: left;
margin-top: 5rem;
 
}
li{  
    padding-top: 10px;
    font-size: large;
    margin-left: 20px;
    
}
ul{  padding-top: 20px;}
.first{  

    font-size: xx-large;

}

.picture{
  float: left ;
  margin-left: 1rem;
  margin-top: 2rem;
  width: 95%;
  

}

.pic{ 
     border-radius:20px;
     width: 90%;
     height: 243px;
     margin-left: 3%;
 }
.btn9{
    margin-left: 1rem;
    width: 140px;
    height:40px ;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgb(24, 23, 23);
    padding: 10px 24px;
    margin-top: 2rem;
    
   
    }

.ink{ text-decoration: none; 
color: inherit;}


.jon{
  width: 98%;
  height: 100%;
  margin-left: 0rem;
  margin-bottom: 10rem;
    


}

.bubble{  
  margin-top: 5rem;
  
  width: 99%;

}




.car{
  
  width: 85px;
  gap: 32px;
  background: #EEF1F7;
  margin-bottom: 30px;
  padding: 4px 8px;
  padding-left: 12px;
  border-radius: 32px;
  
  
  

}



.sup{
   margin-bottom: 30px;
  font-size: xx-large;
}


.send{   
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #6C7175;
  width: 90%;
  height: 40%;
  margin-right: 1rem;
  
  


  

}
.boxes{
width: 90%;
  margin-left: 3rem;
  height: 70%;
}
.bin{
  
  padding-bottom: 30px;
  width: 96%;
  height: 10%;
  font-size: medium;
  
  
}
.mibin{ 
  width: 85%;
  height: 70%;
  padding: 13px 16px;
  border-radius: 8px;
   font-size: medium;
  }

label{  font-size: large;
      }

.phone{   
  background: #ED0D63;
   padding: 8px 24px;
   width:60% ;
   height: 50px;
   border: 1px solid#ED0D63;
   border-radius: 12px;
   color: white;
   margin-left: 4rem;
   margin-top: 20px;
   font-size: medium ;
  
}
.phone:hover{
 background-color: #bb0c4f;
}
#tega{ 
  display: flex;
  flex-direction: column;
  background: rgb(248, 248, 248);
  margin-top: 0rem;
  height: 620px;
  
  
}

.bigD{ margin-left: 30px;
  margin-top: 20px;
  float: left;
  width: 89%;
  height: 40%;
  
}
.box{
  padding-bottom: 54px;
  font-size: larger;
  

}
.box1{ padding-bottom: 50px;
  font-size: larger;}
.box2{padding-bottom: 40px;
  font-size: larger;}


.social{ padding-top: 20px; }
.linkd{ margin-left: 15px;}
.minbox{ padding-right: 1px;}

.minbox2{  padding-right: 1%;}



.nav_p{
  display: flex;
  gap: 3px;
  padding-bottom: 2rem;
  width: 100%;  
}

.nav_p2{
  display: flex;
  gap: 13px;
  padding-bottom: 2rem;
  width: 90%;
}

.list001{
  width: 90%;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  height: 40%;
  margin-bottom: 80px;
  
  }
  
  .list2{
 gap: 40px;
    color: #6C7175;
  display: inline; 
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

}

@media screen and (min-width: 600px) and (max-width: 768px) {
  *{
    margin: 0%;
    padding: 0%;
  
  }
  
  
  .logo{
    position: relative;
    bottom: 1rem;
    width: 100px;
    height: 95px;
    margin-left: 1rem;
    margin-top: 3%;
  }
  
  nav{ 
      display: flex;
      justify-content:space-between;
      width: 1300px;
      height: 90px;
      position: sticky;
      background-color: white;
      z-index: 100;
      top: 0%;
      width: 100%;
  }
  
  
  .span_nav{
    display: block;
  }
  
  .span_nav.active{
    background-color: #ED0D63;
  }
  
  .list{ 
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: -400%;
      width: 100%;
      gap: 32px;
      color: #6C7175;
      margin: auto;
      transition: all 0.3s ease 0s;
  }
  
  .list.active{
    top: 5.5rem;
  }
  
  .list li{
    padding: 10px 0px;
    text-align: center;
  }
  .home{ text-decoration: none;
             color: inherit;}
  
  .about{ text-decoration: none;
    color: inherit;}
  
  
  .services{text-decoration: none;
    color: inherit;}
  
  
  .come{ text-decoration: none;
    color: inherit;}
  .Jot{ text-decoration: none;
    color: inherit;}
  .btn{ 
      width: 180px;
      height:40px ;
      background: #ED0D63;
      border: 1px solid  #ED0D63;
     border-radius: 10px;
      color: white;
     padding: 8px 24px;
     margin-top: 2rem;
     position: absolute;
     transition: all 0.3s ease 0s;
     top: -100%;
     left: 6rem;
     margin-right: 2rem;
  }
  
  .btn.active{
    top: 25rem;
  }

  #paul{
    height: 1000px;


}

.words{
    background: #F174AC;
    width: 94%;
    height: 950px;
    border-radius: 20px;
    margin-left: 1rem;
    margin-top: 2rem;

    
    
}

.gray{
color: white;
margin-left: 2rem;
float: left;
margin-top: 5rem;
 
}
li{  
    padding-top: 10px;
    font-size: large;
    margin-left: 20px;
    
}
ul{  padding-top: 20px;}
.first{  

    font-size: xx-large;

}

.picture{
  float: left ;
  margin-left: 1rem;
  margin-top: 2rem;
  width: 95%;

}

.pic{ 
     border-radius:20px;
     width: 85%;
     height: 243px;
     margin-left: 5%;
 }
.btn9{
    margin-left: 1rem;
    width: 140px;
    height:40px ;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgb(24, 23, 23);
    padding: 10px 24px;
    margin-top: 2rem;
    
   
    }

.ink{ text-decoration: none; 
color: inherit;}

.jon{
  width: 100%;
  height: 100%;
  margin-left: 0rem;
  margin-bottom: 10rem;


}

.bubble{  
  margin-top: 5rem;
  

}




.car{
  
  width: 85px;
  gap: 32px;
  background: #EEF1F7;
  margin-bottom: 30px;
  padding: 4px 8px;
  padding-left: 12px;
  border-radius: 32px;
  
  

}



.sup{
   margin-bottom: 30px;
  font-size: xx-large;}


.send{   
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #6C7175;
  width: 90%;
  height: 40%;
  margin-right: 1rem;


  

}
.boxes{
width: 88%;
  padding-left: 2rem;
  height: 70%;
  margin-left: 2rem;
  
}
.bin{
  
  padding-bottom: 30px;
  width: 96%;
  height: 10%;
  font-size: medium;
  
}
.mibin{ 
  width: 85%;
  height: 70%;
  padding: 13px 16px;
  border-radius: 8px;
   font-size: medium;
  }

label{  font-size: large;
      }

.phone{   
  background: #ED0D63;
   padding: 8px 24px;
   width:60% ;
   height: 50px;
   border: 1px solid#ED0D63;
   border-radius: 12px;
   color: white;
   margin-left: 4rem;
   margin-top: 20px;
   font-size: medium ;
  
}
.phone:hover{
 background-color: #bb0c4f;
}
#tega{ 
  display: flex;
  flex-direction: column;
  background: rgb(248, 248, 248);
  margin-top: 0rem;
  height: 620px;
  
  
}

.bigD{ margin-left: 30px;
  margin-top: 20px;
  float: left;
  width: 89%;
  height: 40%;
  
}
.box{
  padding-bottom: 54px;
  font-size: larger;
  

}
.box1{ padding-bottom: 50px;
  font-size: larger;}
.box2{padding-bottom: 40px;
  font-size: larger;}


.social{ padding-top: 20px; }
.linkd{ margin-left: 15px;}
.minbox{ padding-right: 1px;}

.minbox2{  padding-right: 1%;}



.nav_p{
  display: flex;
  gap: 3px;
  padding-bottom: 2rem;
  width: 100%;  
}

.nav_p2{
  display: flex;
  gap: 13px;
  padding-bottom: 2rem;
  width: 90%;
}

.list001{
  width: 90%;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  height: 40%;
  margin-bottom: 80px;
  
  }
  
  .list2{
 gap: 40px;
    color: #6C7175;
  display: inline; 
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

}



@media screen and (min-width:768px) and (max-width: 1020px){
  *{
    display: none;
  }
}